<!-- <div class="container">
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="num1" placeholder="Numero 1">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="num2" placeholder="Numero 2">
  </mat-form-field>
  <mat-radio-group name="opciones" [(ngModel)]="operacionSeleccionada">
    <mat-radio-button *ngFor="let op of tipoOperaciones" [value]="op" style="margin: 10px;">
      {{op}}
    </mat-radio-button>
  </mat-radio-group>
  <button mat-raised-button (click)="calcular()" color="primary">Calcular</button> 
  <h1>El Resultado es Resultado: {{resultado}}</h1>
</div> -->